*.pyc
*~
\#*
.*~
*.egg-info
example/*/*.log
example/*.db
example/*/*.db
tests/*.db
tests/*.log
build/
dist/
test/
example/sp/identities
subject.db
.idea
.project
.pydevproject
.DS_store
debug_*
*.log
*.out
tmp*
*.tmp
*.log.*
*.db
*egg-info*
.coverage
*.tmpl
deploy.sh
*-config.json
*-conf.json
*.json-EMPF2
*.json-NSS2
*.json-NSSJ1
mailmonitor-conf-1.json
mailmonitor-conf-2.json
